body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/images/pexels3.jpg");
    background-size: 1900px;
    background-position: center;
    color: #fff;
  }
  .header{
    width: 100px;
    height: 5px;
    padding: 0;
    position: relative;

  }
   
  
  .logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    
  }
  .logo img {
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px;
  }
  
  
  
  
  img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("/images/pexels4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

  button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #1321da;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: white;
    border-radius: 10px;
  }
   div [class=".logo"]:hover{
    background-color: #1321da;
    border-radius: 5px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
  }
 
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 1px 35px;
  }
  nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    letter-spacing: 1px;
  }
  nav ul li a:hover{
color: aquamarine;
  }
  nav a:hover {
    background-color: #1321da;
    border-radius: 10px;
  }
  
  
  .site-name:hover {
    background-color: #1321da;
    border-radius: 15px;
  }
  .site-name{
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 24px;
    
  }
 .text-box{
    margin-top: 15%;
    font-size: 0;
    font-family: 'Times New Roman', Times, serif;

  }
  .text-box h1{
    font-size: 0;
    font-weight:600;
    line-height: 100px;
    margin-bottom: 10px;
    
  }
  .text-box.btn{
    outline: none;
    border: none;
    font-size: 16px;
    margin-top: 30px;
    padding: 14px 40px;
    cursor: pointer;
    

  }
  
