body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url("/images/pexels4.jpg");
    background-size: 1400px;
    background-position: center;
  }
  
  .login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #0a33e9;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #28ebe1;
  }
  .forgotten-password {
    text-align: center;
    color: #666;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgotten-password:hover {
    color: #333;
  }